{% extends "base.html" %} {% block title %}Canteen Management System{% endblock
%} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/about.css') }}"
/>
{% endblock %} {% block content %}
<section id="about" class="section">
  <h2>About Us</h2>
  <p>
    Welcome to our Canteen Management System, where we ensure that every meal is
    served fresh and on time. Our system is designed to streamline the ordering
    process, making it easy for customers to view the menu, place orders, and
    receive updates on the status of their food.
  </p>

  <h3>Meet the Owner</h3>
  <div class="owner-info">
    <img
      src="{{ url_for('static', filename='images/sanyam.jpg') }}"
      alt="Owner's Image"
    />

    <table class="owner-table">
      <tr>
        <th>Name</th>
        <td>Sanyam Sharma</td>
      </tr>
      <tr>
        <th>Role</th>
        <td>Owner & Founder</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>sanyamsharma124@gmail.com</td>
      </tr>
      <tr>
        <th>Phone</th>
        <td>+91 9424359751</td>
      </tr>
    </table>
  </div>
</section>

<footer class="footer">
  <p>&copy; 2024 Canteen Management System. All rights reserved.</p>
</footer>
{% endblock %}
